@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./glitch.css";

@layer components {
  /* effect */
  .glassy {
    $border: 2px;
    position: relative;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(
        100.38deg,
        #313a65 3.95%,
        rgba(49, 58, 101, 0) 100%
      );
    }
  }
}

@layer utilities {
  /* Gradient */
  .gradient-card-bk {
    @apply from-primary-1 to-primary-3;
  }
  .gradient-decoration {
    @apply from-primary-1 to-secondary-1;
  }
  .gradient-card-stroke {
    @apply from-[#313A65] to-[#6E77E9];
  }
  .text-clip {
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }

  /* Shadow */
  .shadow {
    box-shadow: 0px 0px 10px var(--tw-shadow-color);
  }
  .text-shadow {
    text-shadow: 0px 0px 6px var(--tw-shadow-color);
  }
  .drop-shadow {
    filter: drop-shadow(0 0 10px var(--tw-shadow-color));
  }
}
